body {
    background-color: #dfeaf3;
    padding: 20px;
    margin: 0;
  }

  button {
    text-decoration: none;
    margin-left: 35px;
    background-color: #fd9300;
    border: none;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.3s;
  }

  .heading {
    margin-left: 75px;
  }

  h1, h2, p, ul, li {
    font-family: Arial, Helvetica, sans-serif;
  }

  button:hover {
    background-color: #44382b;
  }

  .together {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .header {
    position: absolute;
    left: 0;
    right: 0;
  }

  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #ffffff;
    padding: 0;
    direction: rtl;
  }
  ul.header li a {
    color: #060606;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: #FFF;
    padding: 20px;
    position: absolute;
    left: 0;
    right: 0;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  .active {
    background-color: #fd9300;
  }

  .snakies {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px;
    padding-bottom: 0px;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .orange {
    display: flex;
    flex-direction: row;
    padding: 25px;
  }

  .orange img {
    height: 325px;
    width: 325px;
  }


  .container-header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .container-instructions {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 35px;
  }

  .support-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  #name, #email, #subject, #question {
    font-size: 15px;
  }

  .orange-text {
    color: #fd9300;
  }

  .about-header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }